name: Check and publish security advisories
on:
  workflow_call:
    inputs:
      fetch-key:
        required: true
        type: string
      changed-advisories:
        required: false
        type: string
        default: '[]'
jobs:
  check-advisories:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          path: source
          # We need to retrieve full history to determine the correct
          # `published` and `modified` timestamps
          fetch-depth: 0
      - run: mkdir -p ~/.local/dockerImages
      - name: Fetch cache
        id: fetch-binaries
        uses: actions/cache/restore@v3
        with:
          key: ${{ inputs.fetch-key }}
          path: ~/.local/dockerImages
          fail-on-cache-miss: true
      - run: docker load -i ~/.local/dockerImages/hsec-tools
      - name: Run advisory syntax checks
        env:
          CHANGED_ADVISORIES_JSON: ${{ inputs.changed-advisories }}
        run: |
          CHANGED_ADVISORIES=( $(printenv CHANGED_ADVISORIES_JSON | jq -r '.[]') )
          cd source
          RESULT=0
          # Remove the begining of the README to extract the example.
          (echo '```toml'; sed -e '1,/```toml/d' README.md) > EXAMPLE_README.md
          while read FILE ; do
            [ "$(dirname "$FILE")" != advisories/reserved ] || continue
            echo -n "$FILE: "
            docker run --rm -v $PWD:/repo --workdir /repo haskell/hsec-tools:latest /bin/hsec-tools check "$FILE" || RESULT=1
          done < <([ ${#CHANGED_ADVISORIES[@]} -gt 0 ] && printf "%s\n" "${CHANGED_ADVISORIES[@]}" || find advisories EXAMPLE_README.md EXAMPLE_ADVISORY.md -type f -name "*.md")
          exit $RESULT
      - name: Run advisory uniqueness checks
        run: |
          ! find source/advisories -type f -name '*.md' -print0 \
            | xargs -0n1 basename | sort | uniq -c | grep -E -v '[[:space:]]*1 '
      - name: Publish OSV data
        if: ${{ github.event_name == 'push' && github.ref_name == 'main' && github.repository == 'haskell/security-advisories' }}
        env:
          GITHUB_SHA: ${{ github.sha }}
        run: |
          DATA_DIR=$PWD/osv
          mkdir "$DATA_DIR"
          cd source
          while read FILE ; do
            ID=$(basename "$FILE" .md)
            YEAR=$(echo "$ID" | cut -d - -f 2)
            mkdir -p $DATA_DIR/$YEAR
            docker run --rm -v $PWD:/repo --workdir /repo haskell/hsec-tools:latest /bin/hsec-tools osv "$FILE" > $DATA_DIR/$YEAR/$ID.json
          done < <(find advisories -type f -name "*.md")
          BRANCH=generated/osv-export
          REF=refs/remotes/origin/$BRANCH
          export GIT_WORK_TREE=$DATA_DIR
          git read-tree "$REF"
          git add --all --intent-to-add
          git diff --quiet && exit
          git add --all
          TREE=$(git write-tree)
          git config user.email security-advisories@haskell.org
          git config user.name "Haskell Security Response Team"
          COMMIT=$(git commit-tree "$TREE" -p "$REF" -m "$(date --utc --rfc-3339=seconds) ($GITHUB_SHA)")
          git push origin $COMMIT:$BRANCH
